.btn-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    padding: 8px 20px;
    height: 40px;

    border-radius: 8px;
    border: 1px solid #878787;
    background-color: #181818;

    color: #fff;
    font-size: 16px;
    
    font-weight: 450;
    line-height: 150%;


    transition: background-color .2s ease-in, opacity .2s ease-in;
}

.btn-signup:hover, .btn-signup:focus {
    opacity: 0.8;
}
