
.card__img {
    margin-bottom: 16px;

    overflow: hidden;
    border-radius: 12px;

    img {
        width: 100%;
    }
}
.card__title-wraper {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.card__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
}
.card__rating {
    display: flex;

    align-items: center;
    gap: 4px;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */

    &::before {
        content: "";
        display: block;

        width: 17px;
        height: 16px;

        background-image: url(../img/discover/star-small.svg);
        background-repeat: no-repeat;
    }
}
.card__price {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    
        i {
            color: var(--accent);
            font-style: normal;
        }
        span {
            font-weight: 400;
        }
    }
    

