.discover {
    padding: 60px 0;
}

.discover__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;

    @include mediaTablet {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}

.discover__title {
    margin-bottom: 24px;
}

.discover__text {
    margin-bottom: 40px;
}

.discover__picture {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;

    justify-self: center;

    @include mediaTablet {
        grid-row: -1 / 1;
    }
}

.discover__picture-hint {
    position: absolute;
    top: 90px;
    left: 40px;
    z-index: 1;

    @include mediaLaptor {
        top: 50px;
        left: 20px;
    }
    @include mediaMobile{
        top: 30px;
        left: 0; 
    }
}

.discover__picture-scroll {
    position: absolute;
    right: 15px;
    bottom: 20px;

    @include mediaLaptor {
        right: 5px;
        bottom: 0px;
    }
    @include mediaMobile{
        width: 30%;
    }
}
