.discover {
    padding: 60px 0;
}

.discover__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}
.discover__desc {
}
.discover__title {
    margin-bottom: 24px;
}
.title-1 {
}
.discover__text {
    margin-bottom: 40px;
}
.discover__form {
}
.discover__picture {
}
.discover__picture-img {
}
