.subscribe {
    overflow: hidden;

    padding: 80px 0;
    background-color: var(--accent);
    color: #fff;

    @include mediaLaptor {
        padding: 40px 0;
    }
}

.subscribe__row {
    padding-left: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;

    &::before {
        content: "";

        position: absolute;

        left: -100px;
        top: -85px;
        width: 237px;
        height: 273px;

        background-image: url(./../img/icons/subscribe.svg);
        background-repeat: no-repeat;

        @include mediaTablet {
            top: -50px;
        }
        @include mediaMobile {
            display: none;
        }
    }

    @include mediaTablet {
        padding: 0 140px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    @include mediaMobile {
        padding: 0;
    }
}
.subscribe__desc {
    display: grid;
    gap: 4px;
}
.subscribe__title {
    font-size: 28px;
    font-weight: 600;

    @include mediaMobileS {
        font-size: 24px;
    }
}
.subscribe__text {
    font-size: 20px;
    font-weight: 500;

    @include mediaMobileS {
        font-size: 16px;
    }
}
.subscribe__form {
    flex-grow: 1;
    min-width: 400px;

    @include mediaMobile {
        min-width: unset;
    }

    @include mediaMobileS {
        width: 100%;
    }
}
