.testimonials-horizontal {
    display: none;

    .swiper {
        width: 100%;
        padding: 30px 0;
    }
    
    .card__review {
        height: 335px;
    }

    @include mediaTablet {
        display: block;
    }
    @include mediaMobileXS {
        .swiper-slide {
            width: 320px;
        }

        .card__review {
            height: 290px;
            padding: 20px;
            gap: 20px;
            justify-content: space-between;
        }
    }
}

.testimonials__grid {
    overflow: hidden;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 -10px;

    @include mediaTablet {
        display: none;
    }
}

.testimonials__swiper {
    height: 900px;

    @include mediaLaptor {
        height: 600px;
    }

    .swiper-slide {
        padding: 0 10px 32px;
        height: 357px;

        & > * {
            height: 100%;
        }

        @include mediaLaptor {
            height: 400px;
        }
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }
    95% {
        transform: translateY(-50%);
        opacity: 1;
        filter: blur(0px);
    }
    97% {
        transform: translateY(-50%);
        opacity: 1;
        filter: blur(10px);
    }
    98% {
        transform: translateY(0%);
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        filter: blur(0px);
    }
}

.smooth-transition {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}
