.testimonials__grid {
    overflow: hidden;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 -10px;
}

.testimonials__swiper {
    height: 900px;

    .swiper-slide {
        padding: 0 10px;
        height: 325px;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }
    95% {
        transform: translateY(-50%);
        opacity: 1;
        filter: blur(0px);
    }
    97% {
        transform: translateY(-50%);
        opacity: 1;
        filter: blur(10px);
    }
    98% {
        transform: translateY(0%);
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        filter: blur(0px);
    }
}

.smooth-transition {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}
