<div class="card__review">
    <div class="card__review__rating">

        @@for(var i=0; i < context.stars ;i++){ 
            <img src="./img/testimonials/star.svg" alt="Star">
            }

            @@if(context.stars < 5){ @@for(var i=0; i < 5-context.stars ;i++){ <img
                src="./img/testimonials/star-off.svg" alt="Star">
                }
                }
    </div>


    <p class="card__review__text">
        "@@text"
    </p>
    <div class="card__review-author">
        <div class="card__review__author-img">
            <img src="./img/testimonials/@@img" alt="Photo">
        </div>
        <div class="card__review__author-title">
            <h4 class="card__review__author-name">@@name</h4>
            <p class="card__review__author-role">@@role</p>
        </div>
    </div>

</div>